In [1]:
import numpy as np
import pandas as pd

In [8]:
### Writeapythoncodetoextractit,v,epoch,andUbeta**2sumfromthefile.
### Compute log10(Ubeta**2 sum). Let the code to save the extracted 
### data into a data frame with column names it, v, epoch,
### log10Ubeta2sum. (Note: log10Ubeta2sum is the log of Ubeta**2 sum in
### base 10).

file = open("hw1_1_dat.txt")
lines = file.readlines()
file.close()


it_list = []
for line in lines:
    for word in line.split('  '):
        if word.startswith('it='):
            it_list.append(int(word.split(' ')[1]))
# it_list
# print((set(it_list)))
# it_values = len(set(it_list))
# it_values

v_list = []
for line in lines:
    for word in line.split('  '):
        if word.startswith('v='):
            v_list.append(int(word.split('v=')[1]))
# v_list


epoch_list = []
for line in lines:
    for word in line.split('  '):
        if word.startswith('epoch='):
            epoch_list.append(word.split(' ')[1])            
# epoch_list


U_list = []
for line in lines:
    words = line.split('  ')
    for i, word in enumerate(words):
        if word.endswith('sum is'):
            U_list.append(float(words[i+1].split(' ')[0]))
# U_list

In [13]:

df = pd.DataFrame()
df["it"]=it_list
df["v"]=v_list
df["epoch"]= epoch_list
df["U"] = U_list
df["log10Ubeta2sum"]= np.log10(df["U"].values)
del df["U"]
df

       it    v epoch  log10Ubeta2sum
0     164  176     5       -5.200286
1     164  176     6       -5.481360
2     164  176     7       -6.464732
3     164  176     8       -6.488382
4     164  176     9       -7.162887
...   ...  ...   ...             ...
4936  784   16    11        6.411282
4937  784   16    12        6.319693
4938  784   16    13        6.551808
4939  784   16    14        7.819870
4940  784   16    15        7.343799

[4941 rows x 4 columns]